{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="row">
        <div class="col-md-9 offset-1">
            <h3 class="display-6 my-4">Gestion des tableaux :</h3>
            <a href="{{path('admin_painting_new')}}" class="btn btn-outline-dark">Ajouter un nouveau tableau</a>
        </div>
    </section>
{% endblock %}