<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <p class="mb-0">
            <small>
                <i class="bi bi-shield-lock"></i>
                Interface d'administration - Gallery Symfony {{ "now"|date("Y") }}
            </small>
        </p>
    </div>
</footer>
