<nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav w-100 d-flex justify-content-around">
                
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link text-white fw-bold" href="{{ path('admin_painting_index') }}">
                        <i class="bi bi-palette-fill"></i> Gestion des tableaux
                    </a>
                </li>
                
                
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link text-white fw-bold" href="#">
                        <i class="bi bi-chat-dots"></i> Gestion des commentaires
                    </a>
                </li>
                
                <li class="nav-item flex-fill text-center">
                    <a class="nav-link text-white fw-bold" href="#">
                        <i class="bi bi-people-fill"></i> Gestion des utilisateurs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>